/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "common/common";
@import "common/slider";
@import "components/header";
@import "components/about";
@import "components/application";
@import "components/item";
@import "components/reviews";
@import "components/footer";
@import "mixin/mixin";




* {
	@include box-sizing(border-box);
}

html {
	height: 100%;

	body {
		margin: 0;
		padding: 0;
		height: 100%;
		font-family: 'helveticaneuecyrroman', 'helveticaneuecyrbold', 'helveticaneuecyrlight', 'helveticaneuecyrthin', sans-serif;
		font-size: 16px;
		overflow-x: hidden;
		overflow-y: scroll;

		.layout {
			min-height: 100%;
		}

		.container {
			width: 1235px;
			margin: 0 auto;
		}

		.row {
    		display: -webkit-box;
    		display: -webkit-flex;
    		display: -ms-flexbox;
    		display: flex;
    		-webkit-flex-wrap: wrap;
    		-ms-flex-wrap: wrap;
    		flex-wrap: wrap;
    		margin-left: -15px;
    		margin-right: -15px;
		}
	}
}

