@import "../mixin/mixin";
@import "../variables";


@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaregular.woff2') format('woff2'),
         url('../fonts/helveticaregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticabold.woff2') format('woff2'),
         url('../fonts/helveticabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticalight.woff2') format('woff2'),
         url('../fonts/helveticalight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../fonts/helveticathin.woff2') format('woff2'),
         url('../fonts/helveticathin.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	@include box-sizing(border-box);
}

a {
	text-decoration: none;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
	outline: none;
}

.btn {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
	border: 1px solid #ccc;

		&.btn-default {
		    color: #333;
    		background-color: $color-white;
    		border-color: #ccc;
		}

		&.btn-primary {
			color: $color-white;
    		background-color: #286090;
    		border-color: #204d74;
		}

		&.btn-success {
			color: $color-white;
    		background-color: #449d44;
    		border-color: #398439;
		}

		&.btn-info {
			color: $color-white;
    		background-color: #5bc0de;
    		border-color: #46b8da;
		}

		&.btn-warning {
			color: $color-white;
    		background-color: #f0ad4e;
    		border-color: #eea236;
		}

		&.btn-danger {
			color: $color-white;
    		background-color: #d9534f;
    		border-color: #d43f3a;
		}

		&.btn-link {
			color: #337ab7;
			border-radius: 0;
			border-color: transparent;
		}
}

section {
    padding: 65px 0;
    text-align: center;
    text-transform: uppercase;
}

hr {
    width: 70px;
    border: 2px solid #2ac4ea;
    margin: 13px 0;
    margin: 25px auto 60px;
}

sup {
	font-weight: 600;
    font-size: smaller;
    vertical-align: super;
}



h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}


.justify-cc {
    justify-content: center;
}

.justify-csb {
    justify-content: space-between;
}

.col {
  -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  
}


@for $i from 1 through 12 {
    .col-#{$i} {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333333% *$i;
        -ms-flex: 0 0 8.33333333% *$i;
        flex: 0 0 8.33333333% *$i;
        max-width: 8.33333333% *$i;
        padding: 0 15px;
    }
}


@media (max-width: 1260px) {
    .container {
        width: 1024px !important;
    }

    @for $i from 1 through 12 {
    	.col-lg-#{$i} {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 8.33333333% *$i;
            -ms-flex: 0 0 8.33333333% *$i;
            flex: 0 0 8.33333333% *$i;
            max-width: 8.33333333% *$i;
            padding: 0 15px;
    	}
    }

    .header {
        .header-content {
            .callback {
                a {
                    padding: 10px 0 !important;
                    font-size: 14px !important;
                }
            }
        }
    }
}



@media (max-width: 1070px) {
    .container {
        width: 750px !important;
    }

    @for $i from 1 through 12 {
        .col-st-#{$i} {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 8.33333333% *$i;
            -ms-flex: 0 0 8.33333333% *$i;
            flex: 0 0 8.33333333% *$i;
            max-width: 8.33333333% *$i;
            padding: 0 15px;
        }
    }

    .reviews {
        .bx-wrapper {
            .bx-viewport {
                min-height: 385px !important;
            }
        }
    }

    
    .header {
        .nav {
            .main-menu {
                li {
                    a {
                        padding: 0 15px !important;
                        &:before {
                            border: none !important;
                        }
                    }
                }
            }
        }
    }

    .content {
        padding: 110px 20px !important;
    }

}


@media (max-width: 768px) {
    .container {
        width: 100% !important;
    }

    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 8.33333333% *$i;
            -ms-flex: 0 0 8.33333333% *$i;
            flex: 0 0 8.33333333% *$i;
            max-width: 8.33333333% *$i;
            padding: 0 15px;
        }
    }


    .header {
        .header-content {
            .callback {
                a {
                    font-size: 19px !important;
                }
            }
        }
        .nav {
            position: absolute;
            right: 0;
            left: 0;
            max-width: 100%;
            top: 86px;
            order: 1;
            .main-menu {
                display: none;
                text-align: left !important;

                li {
                    display: block !important;
                }
            }
    
            .toggle-menu {
                display: block !important;
                top: -39px !important;
            }
        }
    
        .items {
            padding: 0 50px;
            margin-bottom: 20px;
        }


        .expended {
                &.main-menu {
                    display: block !important;
                    width: 100%;
                    background: #44c0c2;
                    padding: 0 !important;

                    li {
                        float: none !important;

                        a {
                            padding: 20px !important;
                            color: $color-white !important;

                            &:hover {
                                background: #fff;
                                color: #44c0c2 !important;

                            }
                        }
                    }
                }
            }
    }

    section {
        padding-left: 40px;
        padding-right: 40px;

        &.about {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .reviews {
       .article {
               width: 90% !important;
       }
    
       .bx-controls-direction {
           .bx-prev {
               left: 0 !important;
           }
           .bx-next {
               right: 0 !important;
           }
       }
    }

    .application-form {
        .form {
            &.row {
                width: 80% !important;
                margin: auto !important;
            }
            .form-group {
                margin: 15px 0;
            }
        }
    }

    #item {
        .items {
            margin-bottom: 50px;
        }
    }

    .footer {
        .top-foot {
            padding: 60px 30px !important;
        }
    }
}


@media (max-width: 480px) {

    @for $i from 1 through 12 {
        .col-xs-#{$i} {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 8.33333333% *$i;
            -ms-flex: 0 0 8.33333333% *$i;
            flex: 0 0 8.33333333% *$i;
            max-width: 8.33333333% *$i;
            padding: 0 15px;
        }
    }

    .header {
        height: inherit !important;
        padding: 20px !important;

        .nav {
            top: 80px !important;
            .toggle-menu {
                top: -54px !important;
            }
        }

        .header-content {
            .callback {
                width: 85%;
                margin: 25px auto;
            }
        }

        .content {
            padding: 10px 0 !important;
            p {
                margin: 35px 0 0 !important;
            }
        }
    }

    .bx-wrapper {
        .bx-viewport {
            max-height: 565px !important;
        }
    }

    .application-form {
        .form {
            &.row {
                width: 100% !important;
            }

            .form-group {
                input {
                    font-size: 13px !important;
                }
            }
        }
    }

    .reviews {
        .article {
            width: 100% !important;
            padding: 79px 27px 10px !important;
        }
    }

    .about {
        .item {
            margin-bottom: 50px !important;
            .icon {
                margin: auto auto 20px auto !important;
                float: none !important;
            }
        }
    }

    .footer {
        .row {
            display: block !important;
        }
        .top-foot {
            display: block !important;
            margin: auto !important;

            .foot-nav {
                margin: auto !important;

                &:last-child {
                    margin-top: 20px !important;
                }
            }
            
        }
    }
}