.about {
	
	h2 {
		text-align: center;
		font-family: 'helveticaneuecyrthin';
		letter-spacing: 2px;
	}

	.icon {
    	width: 80px;
    	height: 63px;
    	background: url(../img/sprite-icons.png) -3px 244px;
    	float: left;
    	margin-right: 15px;

    	&.icon2 {
    		background: url(../img/sprite-icons.png) -96px 177px;
    		height: 70px;
    	}

    	&.icon3 {
    		background: url(../img/sprite-icons.png) -95px 262px;
    		height: 78px;
    	}

    	&.icon4 {
    		background: url(../img/sprite-icons.png) 0px 82px;
    		height: 82px;
    	}

    	&.icon5 {
    		background: url(../img/sprite-icons.png) 0px 175px;
    		height: 74px;
    	}

    	&.icon6 {
    		background: url(../img/sprite-icons.png) -98px 81px;
    		height: 80px;
    	}
	}

	.item {
		margin-bottom: 20px;

		.description {
			padding-left: 35px;
            text-align: left;
            text-transform: none;
            font-size: 15px;

            h4 {
                margin-bottom: 10px;
            }
		}
	}
}

