.footer {
	
	.top-foot {
		background: #e8e8e8;
		padding: 60px 0;

		.foot-menu {
			li {
				a {
					margin: 0;
					padding: 10px 0;
					display: block;
					font-family: 'helveticaneuecyrlight';
					font-size: 17px;
					color: #000;
					white-space: nowrap;
				}
			}
		}
	}

	.bottom-foot {
		padding: 30px 0;
		background: #2e2e2e;

		.copyright {
			text-align: center;

			span {
				color: #aaaaaa;
			}
		}
	}
}