@import "../mixin/mixin";
@import "../common/common";
@import "../variables";

.header {
    padding: 40px 0;
	background: url(../img/header-bg.png) top;
    background-size: cover;
    height: 670px;

    a {
        color: #fff;
    }
	
	.logo {
        text-transform: uppercase;
        font-size: 37px;
        padding-left: 32px;
	}

	.nav {
        .toggle-menu {
            position: absolute;
            top: 44px;
            right: 20px;
            display: none;

            .btn-toggle {
                border: none;
                display: block;
                width: 60px;
                background: none;
                cursor: pointer;

                .line {
                    border-top: 2px solid #fff;
                    margin-bottom: 10px;
                    display: block;
                }
            }
        }
        

		.main-menu {
            text-align: center;
            padding: 11px 0;

			li {
				display: inline-block;
                position: relative;

				a {
					margin: 0;
    				padding: 0 25px;
    				display: block;
    				color: #fff;
    				border-bottom: 3px solid transparent;
    				font-size: $font-size-st;
                    font-family: 'helveticaneuecyrlight';

                    &:before {
                        content: "";
                        width: 140px;
                        border: 1px solid #fff;
                        position: absolute;
                        top: 25px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        display: none;
                    }

                    &:hover {
                        &:before {
                            display: block;
                            font-family: 'helveticaneuecyrroman';
                        }
                    }
				}
			}
		}
	}

    .header-content {
        .callback {
            text-align: center;

            a {
                border: 3px solid #2ac4ea;
                padding: 10px 13px;
                display: block;
            }
        }
    }

    .content {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        padding: 150px 0;

        h1 {
            margin-bottom: 50px;
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font-size-xxxl-lg;
            font-family: 'helveticaneuecyrthin';
            margin: 3px 0;

            i {
                background: url(../img/sprite-icons.png) -46px 0;
                width: 48px;
                height: 55px;
                margin-right: 10px;
            }
        }

        button {
            background: #2ac4ea;
            padding: 13px 28px;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 50px 0;
            border-radius: 0;
        }

        .scrolling {

            a {
                background: url(../img/sprite-icons.png) 0 0;
                width: 30px;
                height: 59px;
                display: block;
                margin: auto;
            }
        }
    }
}


@-webkit-keyframes spaceboots {

  0% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
  10% {
    transform: translate(0, -1px) rotate(0.5deg);
  }
  20% {
    transform: translate(0, -1px) rotate(0.5deg);
  }
  30% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
  40% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
  50% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
  60% {
    transform: translate(0, -1px) rotate(0.5deg);
  }
  70% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
  80% {
    transform: translate(0, -1px) rotate(0.5deg);
  }
  90% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
  100% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
}

.scrolling a:hover,
.scrolling a:focus {
animation-name: spaceboots;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
