#item {
	background: #f7f7f7;
	
	.items {

		.sub-items {
			padding: 15px 10px;
    		box-shadow: 0 -7px 81px rgba(0, 0, 0, 0.2);

    		h4 {
    			margin: 10px 0 20px 0;
    			line-height: 25px;
    			font-family: 'helveticaneuecyrlight';
    			text-shadow: 1px 0 0 rgba(0,0,0,0.3);
    		}

    		p {
    			font-size: 17px;
    			text-transform: none;
    			text-align: left;
    			line-height: 25px;
    			padding-left: 10px;
    			font-family: 'helveticaneuecyrthin';
    		}

    		.link-item {
    			margin: 40px 0 15px 0;
    			position: relative;

    			a {
    				color: #2ac4ea;
    				font-size: 17px;
    				letter-spacing: 2px;

    				&:after {
    					content: "";
    					background: url(../img/sprite-icons.png) -132px -9px;
    					height: 30px;
    					width: 18px;
    					position: absolute;
    					top: -7px;
    					margin-left: 10px;
    				}
    			}
    		}
		}
	}
}