.reviews {
	.bx-wrapper {
		box-shadow: none;
		background: none;

		.bx-viewport {
			  height: 425px !important;
        padding: 60px 0;
		}
	}
	.article {
    	box-shadow: 0 -3px 43px rgba(0, 0, 0, 0.2);
    	width: 50%;
    	margin: -52px auto;
    	padding: 79px 32px 36px;
    	text-transform: none;
      position: relative;

      &:before {
        content: "";
        width: 79px;
        height: 65px;
        background: url(../img/review-icon.png) no-repeat;
        position: absolute;
        top: -99px;
        z-index: 9999;
        left: 20px;
      }

    	p {
    		margin: 25px 0;
    		line-height: 23px;
    		font-family: 'helveticaneuecyrlight';
    	}
	}

	.bx-controls-direction {
		a {
			width: 43px;
			height: 43px;
		}
		.bx-prev {
      		background: url(../img/controll-arrows.png) no-repeat 0 0;
      		left: 120px;
    	}
    	.bx-next {
          background: url(../img/controll-arrows.png) no-repeat -80px 0;
          right: 120px;
    	}
	}
}
