/* line 30, ../sass/variables.scss */
h1 {
  font-size: 36px;
}

/* line 34, ../sass/variables.scss */
h2 {
  font-size: 32px;
}

/* line 38, ../sass/variables.scss */
h3 {
  font-size: 24px;
}

/* line 42, ../sass/variables.scss */
h4 {
  font-size: 18px;
}

/* line 46, ../sass/variables.scss */
h5 {
  font-size: 14px;
}

/* line 50, ../sass/variables.scss */
h6 {
  font-size: 12px;
}
