/* line 3, ../../sass/components/about.scss */
.about h2 {
  text-align: center;
  font-family: 'helveticaneuecyrthin';
  letter-spacing: 2px;
}
/* line 9, ../../sass/components/about.scss */
.about .icon {
  width: 80px;
  height: 63px;
  background: url(../img/sprite-icons.png) -3px 244px;
  float: left;
  margin-right: 15px;
}
/* line 16, ../../sass/components/about.scss */
.about .icon.icon2 {
  background: url(../img/sprite-icons.png) -96px 177px;
  height: 70px;
}
/* line 21, ../../sass/components/about.scss */
.about .icon.icon3 {
  background: url(../img/sprite-icons.png) -95px 262px;
  height: 78px;
}
/* line 26, ../../sass/components/about.scss */
.about .icon.icon4 {
  background: url(../img/sprite-icons.png) 0px 82px;
  height: 82px;
}
/* line 31, ../../sass/components/about.scss */
.about .icon.icon5 {
  background: url(../img/sprite-icons.png) 0px 175px;
  height: 74px;
}
/* line 36, ../../sass/components/about.scss */
.about .icon.icon6 {
  background: url(../img/sprite-icons.png) -98px 81px;
  height: 80px;
}
/* line 42, ../../sass/components/about.scss */
.about .item {
  margin-bottom: 20px;
}
/* line 45, ../../sass/components/about.scss */
.about .item .description {
  padding-left: 35px;
  text-align: left;
  text-transform: none;
  font-size: 15px;
}
/* line 51, ../../sass/components/about.scss */
.about .item .description h4 {
  margin-bottom: 10px;
}
