/* line 1, ../../sass/components/application.scss */
.application-form {
  background: url(../img/application-bg.png) top;
  background-size: cover;
  color: #fff;
}
/* line 6, ../../sass/components/application.scss */
.application-form p {
  font-family: 'helveticaneuecyrthin';
  margin: 15px 0 50px 0;
  font-size: 21px;
  letter-spacing: 3px;
}
/* line 14, ../../sass/components/application.scss */
.application-form .form.row {
  margin: 0;
}
/* line 20, ../../sass/components/application.scss */
.application-form .form .form-group input {
  width: 90%;
  padding: 18px 0;
  background: none;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #fff;
  font-size: 16px;
  letter-spacing: 2px;
}
/* line 31, ../../sass/components/application.scss */
.application-form .form .form-group button {
  min-width: 90%;
  padding: 13px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 19px;
  border-radius: 0;
  background: #2ac4ea;
  font-family: 'helveticaneuecyrbold';
}
