/* line 3, ../../sass/components/footer.scss */
.footer .top-foot {
  background: #e8e8e8;
  padding: 60px 0;
}
/* line 9, ../../sass/components/footer.scss */
.footer .top-foot .foot-menu li a {
  margin: 0;
  padding: 10px 0;
  display: block;
  font-family: 'helveticaneuecyrlight';
  font-size: 17px;
  color: #000;
  white-space: nowrap;
}
/* line 22, ../../sass/components/footer.scss */
.footer .bottom-foot {
  padding: 30px 0;
  background: #2e2e2e;
}
/* line 26, ../../sass/components/footer.scss */
.footer .bottom-foot .copyright {
  text-align: center;
}
/* line 29, ../../sass/components/footer.scss */
.footer .bottom-foot .copyright span {
  color: #aaaaaa;
}
