/* line 30, ../../sass/variables.scss */
h1 {
  font-size: 36px;
}

/* line 34, ../../sass/variables.scss */
h2 {
  font-size: 32px;
}

/* line 38, ../../sass/variables.scss */
h3 {
  font-size: 24px;
}

/* line 42, ../../sass/variables.scss */
h4 {
  font-size: 18px;
}

/* line 46, ../../sass/variables.scss */
h5 {
  font-size: 14px;
}

/* line 50, ../../sass/variables.scss */
h6 {
  font-size: 12px;
}

@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url("../fonts/helveticaregular.woff2") format("woff2"), url("../fonts/helveticaregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url("../fonts/helveticabold.woff2") format("woff2"), url("../fonts/helveticabold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url("../fonts/helveticalight.woff2") format("woff2"), url("../fonts/helveticalight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrthin';
  src: url("../fonts/helveticathin.woff2") format("woff2"), url("../fonts/helveticathin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 41, ../../sass/common/common.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 45, ../../sass/common/common.scss */
a {
  text-decoration: none;
}

/* line 49, ../../sass/common/common.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 55, ../../sass/common/common.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 60, ../../sass/common/common.scss */
button {
  cursor: pointer;
  outline: none;
}

/* line 65, ../../sass/common/common.scss */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/* line 86, ../../sass/common/common.scss */
.btn.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
/* line 92, ../../sass/common/common.scss */
.btn.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
/* line 98, ../../sass/common/common.scss */
.btn.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
/* line 104, ../../sass/common/common.scss */
.btn.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
/* line 110, ../../sass/common/common.scss */
.btn.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
/* line 116, ../../sass/common/common.scss */
.btn.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
/* line 122, ../../sass/common/common.scss */
.btn.btn-link {
  color: #337ab7;
  border-radius: 0;
  border-color: transparent;
}

/* line 129, ../../sass/common/common.scss */
section {
  padding: 65px 0;
  text-align: center;
  text-transform: uppercase;
}

/* line 135, ../../sass/common/common.scss */
hr {
  width: 70px;
  border: 2px solid #2ac4ea;
  margin: 13px 0;
  margin: 25px auto 60px;
}

/* line 142, ../../sass/common/common.scss */
sup {
  font-weight: 600;
  font-size: smaller;
  vertical-align: super;
}

/* line 150, ../../sass/common/common.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* line 156, ../../sass/common/common.scss */
.justify-cc {
  justify-content: center;
}

/* line 160, ../../sass/common/common.scss */
.justify-csb {
  justify-content: space-between;
}

/* line 164, ../../sass/common/common.scss */
.col {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

/* line 178, ../../sass/common/common.scss */
.col-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  padding: 0 15px;
}

/* line 178, ../../sass/common/common.scss */
.col-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  padding: 0 15px;
}

/* line 178, ../../sass/common/common.scss */
.col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}

/* line 178, ../../sass/common/common.scss */
.col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 0 15px;
}

/* line 178, ../../sass/common/common.scss */
.col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66667%;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  padding: 0 15px;
}

/* line 178, ../../sass/common/common.scss */
.col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

/* line 178, ../../sass/common/common.scss */
.col-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  padding: 0 15px;
}

/* line 178, ../../sass/common/common.scss */
.col-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66667%;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  padding: 0 15px;
}

/* line 178, ../../sass/common/common.scss */
.col-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0 15px;
}

/* line 178, ../../sass/common/common.scss */
.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  padding: 0 15px;
}

/* line 178, ../../sass/common/common.scss */
.col-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66667%;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
  padding: 0 15px;
}

/* line 178, ../../sass/common/common.scss */
.col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

@media (max-width: 1260px) {
  /* line 190, ../../sass/common/common.scss */
  .container {
    width: 1024px !important;
  }

  /* line 195, ../../sass/common/common.scss */
  .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 15px;
  }

  /* line 195, ../../sass/common/common.scss */
  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
  }

  /* line 195, ../../sass/common/common.scss */
  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
  }

  /* line 195, ../../sass/common/common.scss */
  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
  }

  /* line 195, ../../sass/common/common.scss */
  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    padding: 0 15px;
  }

  /* line 195, ../../sass/common/common.scss */
  .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }

  /* line 195, ../../sass/common/common.scss */
  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 15px;
  }

  /* line 195, ../../sass/common/common.scss */
  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding: 0 15px;
  }

  /* line 195, ../../sass/common/common.scss */
  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 15px;
  }

  /* line 195, ../../sass/common/common.scss */
  .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 15px;
  }

  /* line 195, ../../sass/common/common.scss */
  .col-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    padding: 0 15px;
  }

  /* line 195, ../../sass/common/common.scss */
  .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }

  /* line 208, ../../sass/common/common.scss */
  .header .header-content .callback a {
    padding: 10px 0 !important;
    font-size: 14px !important;
  }
}
@media (max-width: 1070px) {
  /* line 220, ../../sass/common/common.scss */
  .container {
    width: 750px !important;
  }

  /* line 225, ../../sass/common/common.scss */
  .col-st-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 15px;
  }

  /* line 225, ../../sass/common/common.scss */
  .col-st-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
  }

  /* line 225, ../../sass/common/common.scss */
  .col-st-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
  }

  /* line 225, ../../sass/common/common.scss */
  .col-st-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
  }

  /* line 225, ../../sass/common/common.scss */
  .col-st-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    padding: 0 15px;
  }

  /* line 225, ../../sass/common/common.scss */
  .col-st-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }

  /* line 225, ../../sass/common/common.scss */
  .col-st-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 15px;
  }

  /* line 225, ../../sass/common/common.scss */
  .col-st-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding: 0 15px;
  }

  /* line 225, ../../sass/common/common.scss */
  .col-st-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 15px;
  }

  /* line 225, ../../sass/common/common.scss */
  .col-st-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 15px;
  }

  /* line 225, ../../sass/common/common.scss */
  .col-st-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    padding: 0 15px;
  }

  /* line 225, ../../sass/common/common.scss */
  .col-st-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }

  /* line 237, ../../sass/common/common.scss */
  .reviews .bx-wrapper .bx-viewport {
    min-height: 385px !important;
  }

  /* line 248, ../../sass/common/common.scss */
  .header .nav .main-menu li a {
    padding: 0 15px !important;
  }
  /* line 250, ../../sass/common/common.scss */
  .header .nav .main-menu li a:before {
    border: none !important;
  }

  /* line 259, ../../sass/common/common.scss */
  .content {
    padding: 110px 20px !important;
  }
}
@media (max-width: 768px) {
  /* line 267, ../../sass/common/common.scss */
  .container {
    width: 100% !important;
  }

  /* line 272, ../../sass/common/common.scss */
  .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 15px;
  }

  /* line 272, ../../sass/common/common.scss */
  .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
  }

  /* line 272, ../../sass/common/common.scss */
  .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
  }

  /* line 272, ../../sass/common/common.scss */
  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
  }

  /* line 272, ../../sass/common/common.scss */
  .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    padding: 0 15px;
  }

  /* line 272, ../../sass/common/common.scss */
  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }

  /* line 272, ../../sass/common/common.scss */
  .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 15px;
  }

  /* line 272, ../../sass/common/common.scss */
  .col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding: 0 15px;
  }

  /* line 272, ../../sass/common/common.scss */
  .col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 15px;
  }

  /* line 272, ../../sass/common/common.scss */
  .col-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 15px;
  }

  /* line 272, ../../sass/common/common.scss */
  .col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    padding: 0 15px;
  }

  /* line 272, ../../sass/common/common.scss */
  .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }

  /* line 286, ../../sass/common/common.scss */
  .header .header-content .callback a {
    font-size: 19px !important;
  }
  /* line 291, ../../sass/common/common.scss */
  .header .nav {
    position: absolute;
    right: 0;
    left: 0;
    max-width: 100%;
    top: 86px;
    order: 1;
  }
  /* line 298, ../../sass/common/common.scss */
  .header .nav .main-menu {
    display: none;
    text-align: left !important;
  }
  /* line 302, ../../sass/common/common.scss */
  .header .nav .main-menu li {
    display: block !important;
  }
  /* line 307, ../../sass/common/common.scss */
  .header .nav .toggle-menu {
    display: block !important;
    top: -39px !important;
  }
  /* line 313, ../../sass/common/common.scss */
  .header .items {
    padding: 0 50px;
    margin-bottom: 20px;
  }
  /* line 320, ../../sass/common/common.scss */
  .header .expended.main-menu {
    display: block !important;
    width: 100%;
    background: #44c0c2;
    padding: 0 !important;
  }
  /* line 326, ../../sass/common/common.scss */
  .header .expended.main-menu li {
    float: none !important;
  }
  /* line 329, ../../sass/common/common.scss */
  .header .expended.main-menu li a {
    padding: 20px !important;
    color: #fff !important;
  }
  /* line 333, ../../sass/common/common.scss */
  .header .expended.main-menu li a:hover {
    background: #fff;
    color: #44c0c2 !important;
  }

  /* line 344, ../../sass/common/common.scss */
  section {
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 348, ../../sass/common/common.scss */
  section.about {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 355, ../../sass/common/common.scss */
  .reviews .article {
    width: 90% !important;
  }
  /* line 360, ../../sass/common/common.scss */
  .reviews .bx-controls-direction .bx-prev {
    left: 0 !important;
  }
  /* line 363, ../../sass/common/common.scss */
  .reviews .bx-controls-direction .bx-next {
    right: 0 !important;
  }

  /* line 371, ../../sass/common/common.scss */
  .application-form .form.row {
    width: 80% !important;
    margin: auto !important;
  }
  /* line 375, ../../sass/common/common.scss */
  .application-form .form .form-group {
    margin: 15px 0;
  }

  /* line 382, ../../sass/common/common.scss */
  #item .items {
    margin-bottom: 50px;
  }

  /* line 388, ../../sass/common/common.scss */
  .footer .top-foot {
    padding: 60px 30px !important;
  }
}
@media (max-width: 480px) {
  /* line 398, ../../sass/common/common.scss */
  .col-xs-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 15px;
  }

  /* line 398, ../../sass/common/common.scss */
  .col-xs-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
  }

  /* line 398, ../../sass/common/common.scss */
  .col-xs-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
  }

  /* line 398, ../../sass/common/common.scss */
  .col-xs-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
  }

  /* line 398, ../../sass/common/common.scss */
  .col-xs-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    padding: 0 15px;
  }

  /* line 398, ../../sass/common/common.scss */
  .col-xs-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }

  /* line 398, ../../sass/common/common.scss */
  .col-xs-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 15px;
  }

  /* line 398, ../../sass/common/common.scss */
  .col-xs-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding: 0 15px;
  }

  /* line 398, ../../sass/common/common.scss */
  .col-xs-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 15px;
  }

  /* line 398, ../../sass/common/common.scss */
  .col-xs-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 15px;
  }

  /* line 398, ../../sass/common/common.scss */
  .col-xs-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    padding: 0 15px;
  }

  /* line 398, ../../sass/common/common.scss */
  .col-xs-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }

  /* line 408, ../../sass/common/common.scss */
  .header {
    height: inherit !important;
    padding: 20px !important;
  }
  /* line 412, ../../sass/common/common.scss */
  .header .nav {
    top: 80px !important;
  }
  /* line 414, ../../sass/common/common.scss */
  .header .nav .toggle-menu {
    top: -54px !important;
  }
  /* line 420, ../../sass/common/common.scss */
  .header .header-content .callback {
    width: 85%;
    margin: 25px auto;
  }
  /* line 426, ../../sass/common/common.scss */
  .header .content {
    padding: 10px 0 !important;
  }
  /* line 428, ../../sass/common/common.scss */
  .header .content p {
    margin: 35px 0 0 !important;
  }

  /* line 435, ../../sass/common/common.scss */
  .bx-wrapper .bx-viewport {
    max-height: 565px !important;
  }

  /* line 442, ../../sass/common/common.scss */
  .application-form .form.row {
    width: 100% !important;
  }
  /* line 447, ../../sass/common/common.scss */
  .application-form .form .form-group input {
    font-size: 13px !important;
  }

  /* line 455, ../../sass/common/common.scss */
  .reviews .article {
    width: 100% !important;
    padding: 79px 27px 10px !important;
  }

  /* line 462, ../../sass/common/common.scss */
  .about .item {
    margin-bottom: 50px !important;
  }
  /* line 464, ../../sass/common/common.scss */
  .about .item .icon {
    margin: auto auto 20px auto !important;
    float: none !important;
  }

  /* line 472, ../../sass/common/common.scss */
  .footer .row {
    display: block !important;
  }
  /* line 475, ../../sass/common/common.scss */
  .footer .top-foot {
    display: block !important;
    margin: auto !important;
  }
  /* line 479, ../../sass/common/common.scss */
  .footer .top-foot .foot-nav {
    margin: auto !important;
  }
  /* line 482, ../../sass/common/common.scss */
  .footer .top-foot .foot-nav:last-child {
    margin-top: 20px !important;
  }
}
/* line 5, ../../sass/components/header.scss */
.header {
  padding: 40px 0;
  background: url(../img/header-bg.png) top;
  background-size: cover;
  height: 670px;
}
/* line 11, ../../sass/components/header.scss */
.header a {
  color: #fff;
}
/* line 15, ../../sass/components/header.scss */
.header .logo {
  text-transform: uppercase;
  font-size: 37px;
  padding-left: 32px;
}
/* line 22, ../../sass/components/header.scss */
.header .nav .toggle-menu {
  position: absolute;
  top: 44px;
  right: 20px;
  display: none;
}
/* line 28, ../../sass/components/header.scss */
.header .nav .toggle-menu .btn-toggle {
  border: none;
  display: block;
  width: 60px;
  background: none;
  cursor: pointer;
}
/* line 35, ../../sass/components/header.scss */
.header .nav .toggle-menu .btn-toggle .line {
  border-top: 2px solid #fff;
  margin-bottom: 10px;
  display: block;
}
/* line 44, ../../sass/components/header.scss */
.header .nav .main-menu {
  text-align: center;
  padding: 11px 0;
}
/* line 48, ../../sass/components/header.scss */
.header .nav .main-menu li {
  display: inline-block;
  position: relative;
}
/* line 52, ../../sass/components/header.scss */
.header .nav .main-menu li a {
  margin: 0;
  padding: 0 25px;
  display: block;
  color: #fff;
  border-bottom: 3px solid transparent;
  font-size: 17px;
  font-family: 'helveticaneuecyrlight';
}
/* line 61, ../../sass/components/header.scss */
.header .nav .main-menu li a:before {
  content: "";
  width: 140px;
  border: 1px solid #fff;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}
/* line 74, ../../sass/components/header.scss */
.header .nav .main-menu li a:hover:before {
  display: block;
  font-family: 'helveticaneuecyrroman';
}
/* line 85, ../../sass/components/header.scss */
.header .header-content .callback {
  text-align: center;
}
/* line 88, ../../sass/components/header.scss */
.header .header-content .callback a {
  border: 3px solid #2ac4ea;
  padding: 10px 13px;
  display: block;
}
/* line 96, ../../sass/components/header.scss */
.header .content {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 150px 0;
}
/* line 103, ../../sass/components/header.scss */
.header .content h1 {
  margin-bottom: 50px;
}
/* line 107, ../../sass/components/header.scss */
.header .content p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-family: 'helveticaneuecyrthin';
  margin: 3px 0;
}
/* line 115, ../../sass/components/header.scss */
.header .content p i {
  background: url(../img/sprite-icons.png) -46px 0;
  width: 48px;
  height: 55px;
  margin-right: 10px;
}
/* line 123, ../../sass/components/header.scss */
.header .content button {
  background: #2ac4ea;
  padding: 13px 28px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 50px 0;
  border-radius: 0;
}
/* line 135, ../../sass/components/header.scss */
.header .content .scrolling a {
  background: url(../img/sprite-icons.png) 0 0;
  width: 30px;
  height: 59px;
  display: block;
  margin: auto;
}

@-webkit-keyframes spaceboots {
  0% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
  10% {
    transform: translate(0, -1px) rotate(0.5deg);
  }
  20% {
    transform: translate(0, -1px) rotate(0.5deg);
  }
  30% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
  40% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
  50% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
  60% {
    transform: translate(0, -1px) rotate(0.5deg);
  }
  70% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
  80% {
    transform: translate(0, -1px) rotate(0.5deg);
  }
  90% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
  100% {
    transform: translate(0, 5px) rotate(0.5deg);
  }
}
/* line 184, ../../sass/components/header.scss */
.scrolling a:hover,
.scrolling a:focus {
  animation-name: spaceboots;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
