/* line 1, ../../sass/components/item.scss */
#item {
  background: #f7f7f7;
}
/* line 6, ../../sass/components/item.scss */
#item .items .sub-items {
  padding: 15px 10px;
  box-shadow: 0 -7px 81px rgba(0, 0, 0, 0.2);
}
/* line 10, ../../sass/components/item.scss */
#item .items .sub-items h4 {
  margin: 10px 0 20px 0;
  line-height: 25px;
  font-family: 'helveticaneuecyrlight';
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.3);
}
/* line 17, ../../sass/components/item.scss */
#item .items .sub-items p {
  font-size: 17px;
  text-transform: none;
  text-align: left;
  line-height: 25px;
  padding-left: 10px;
  font-family: 'helveticaneuecyrthin';
}
/* line 26, ../../sass/components/item.scss */
#item .items .sub-items .link-item {
  margin: 40px 0 15px 0;
  position: relative;
}
/* line 30, ../../sass/components/item.scss */
#item .items .sub-items .link-item a {
  color: #2ac4ea;
  font-size: 17px;
  letter-spacing: 2px;
}
/* line 35, ../../sass/components/item.scss */
#item .items .sub-items .link-item a:after {
  content: "";
  background: url(../img/sprite-icons.png) -132px -9px;
  height: 30px;
  width: 18px;
  position: absolute;
  top: -7px;
  margin-left: 10px;
}
