/* line 2, ../../sass/components/reviews.scss */
.reviews .bx-wrapper {
  box-shadow: none;
  background: none;
}
/* line 6, ../../sass/components/reviews.scss */
.reviews .bx-wrapper .bx-viewport {
  height: 425px !important;
  padding: 60px 0;
}
/* line 11, ../../sass/components/reviews.scss */
.reviews .article {
  box-shadow: 0 -3px 43px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: -52px auto;
  padding: 79px 32px 36px;
  text-transform: none;
  position: relative;
}
/* line 19, ../../sass/components/reviews.scss */
.reviews .article:before {
  content: "";
  width: 79px;
  height: 65px;
  background: url(../img/review-icon.png) no-repeat;
  position: absolute;
  top: -99px;
  z-index: 9999;
  left: 20px;
}
/* line 30, ../../sass/components/reviews.scss */
.reviews .article p {
  margin: 25px 0;
  line-height: 23px;
  font-family: 'helveticaneuecyrlight';
}
/* line 38, ../../sass/components/reviews.scss */
.reviews .bx-controls-direction a {
  width: 43px;
  height: 43px;
}
/* line 42, ../../sass/components/reviews.scss */
.reviews .bx-controls-direction .bx-prev {
  background: url(../img/controll-arrows.png) no-repeat 0 0;
  left: 120px;
}
/* line 46, ../../sass/components/reviews.scss */
.reviews .bx-controls-direction .bx-next {
  background: url(../img/controll-arrows.png) no-repeat -80px 0;
  right: 120px;
}
